
.divbg{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.divimg{
    text-align: center;
}

h2
{
    text-align: center;
    margin-bottom: 1px;
}
h4{
    color:rgb(194, 107, 56);
}
hr{
    margin-top: 2px;
}
body{
    background-color: rgb(255, 248, 226);
    margin-right: 15%;
    margin-left:15%;

}